<div class="container mt-5" style="max-width: 400px;">
  <div class="card shadow">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">ログイン</h2>
      
      <form>
        <div class="mb-3">
          <label class="form-label">ユーザーID</label>
          <input type="text" class="form-control" placeholder="IDを入力">
        </div>

        <div class="mb-3">
          <label class="form-label">パスワード</label>
          <input type="password" class="form-control" placeholder="パスワード">
        </div>

        <div class="d-grid gap-2">
         <%= link_to "ログイン (ダミー)", home_path, class: "btn btn-primary w-100" %>
        </div>
      </form>

    </div>
  </div>
</div>